<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       		http://www.springframework.org/schema/tx
       		http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean
		id="txManagerBean"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property
			name="entityManagerFactory" 
			ref="entMgrFactoryBean"/>
	</bean>
	<bean
		id="entMgrFactoryBean"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="jobengine"/>
	</bean>
	<tx:annotation-driven transaction-manager="txManagerBean"/>
	<!-- 
	<bean
		id="editCustBean"
		class="myapp.jpa.DefaultEditCustomerService">
		<property name="customers" ref="customersBean"/>			
	</bean>
	 -->
	
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
</beans>